.button {
  background-color: transparent;
  border: none;
  border-radius: 0.625rem;
  text-align: left;
  padding: 0.5rem 0.75rem;
  cursor: pointer;

  &.is-current {
    background-color: var(--bg-color);
  }

  &:hover {
    background-color: var(--bg-color-accent-hover);

    @media (min-width: 42rem) {
      background-color: var(--bg-color-hover);
    }
  }
}

.button--add-tag {
  font-size: 12px;
  padding: 0.05rem 0.4rem;
  border: 1px solid black;
  position: relative;

  &:hover {
    background-color: rgb(255 94 94);
  }
}

.button--selection-tag {
  font-size: 0.875rem;
  padding: 0.05rem 0.4rem;
  border: 1px solid black;
  position: relative;

  &:hover {
    color: white;
    background-color: black;
  }

  &.active {
    color: white;
    background-color: black;
  }
}
