@import url("reset.css");
@import url("task.css");
@import url("button.css");
@import url("modal.css");
@import url("menu.css");

:root {
  --bg-color: rgba(206, 206, 206, 0.452);
  --bg-color-hover: rgba(206, 206, 206, 0.226);
  --box-shadow: 0 5px 15px -10px rgba(0, 0, 0, 0.5);
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.title {
  padding: 0.5rem 1rem 0;
}

.progress-title {
  padding: 1rem;
  display: flex;
}
