.menu-items {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row-reverse;
  gap: 0.5rem;
  padding: 1rem;

  @media (min-width: 42rem) {
    bottom: 0;
    left: 0;
    flex-direction: row;
  }
}

.scroll-menu {
  display: inline;
  position: absolute;
  width: 15rem;
  left: 3.1875rem;
  bottom: 1rem;
  height: fit-content;
  max-height: 350px;
  overflow-y: auto;
  background-color: var(--bg-color);
  padding: 1rem;
  transition: width 1s ease;

  @starting-style {
    display: none;
  }
}

.menu__current-project {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid grey;
}

.menu__projects {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.menu__projects-title {
  align-self: flex-start;
}

.form__close {
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  height: fit-content;
  align-content: center;
  align-self: center;

  &:hover {
    background-color: var(--bg-color-hover);
  }
}

.hamburger {
  bottom: 1rem;
  width: 40px;
  height: 40px;
  background-color: var(--bg-color);
  border-radius: 50%;
  padding: 0.4rem;
}

.hamburger-closed {
  display: block;
}

.hamburger-open {
  display: none;
  position: absolute;
  bottom: 1rem;
  left: 16px;
  width: 40px;
  height: 40px;
  padding: 0.4rem;
}

.search {
  bottom: 1rem;
  left: 3.8rem;
  width: 40px;
  height: 40px;
  background-color: var(--bg-color);
  border-radius: 50%;
  padding: 0.4rem;
}

.hamburger-opened.open {
  display: block;
}

.hamburger-closed.open {
  display: none;
}

.hamburger.open {
  display: block;
  margin-right: 15.5rem;
  border-radius: 50% 0 0 50%;
  transition: margin-right 1s ease;
}

.scroll-menu.open {
  width: 15rem;
  transition: width 1s ease;
}
