.menu-items {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row-reverse;
  gap: 0.5rem;
  padding: 1rem;

  @media (min-width: 42rem) {
    bottom: 0;
    left: 0;
    flex-direction: row;
  }
}

.scroll-menu {
  display: inline;
  position: absolute;
  bottom: 1rem;
  right: 3.5rem;
  width: 0;
  font-size: 0;
  padding: 0;
  border-radius: 5px 5px 0 5px;
  background-color: var(--bg-color);

  @media (min-width: 42rem) {
    bottom: 1rem;
    left: 3.5rem;
    border-radius: 5px 5px 5px 0;
  }
}

.scroll-menu.open {
  animation-name: openMenuX, openMenuY;
  animation-duration: 0.3s, 0.3s;
  animation-fill-mode: forwards;
}

@keyframes openMenuX {
  from {
    width: 0;
    font-size: 0;
    padding: 0;
  }
  to {
    width: 12rem;
    font-size: 1rem;
    padding: 1rem;
  }
}
@keyframes openMenuY {
  from {
    height: 0;
  }
  to {
    height: 10rem;
  }
}

.menu__current-project {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid grey;
}

.menu__projects {
  display: flex;
  flex-direction: column;
}

.menu__projects-item {
  text-decoration: none;
  color: var(--text-color);
  padding: 0.5rem;

  &:hover {
    background-color: var(--bg-color);
  }
}

.item-extra {
  display: flex;
  justify-content: space-between;
}

.form__close {
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  height: fit-content;
  align-content: center;
  align-self: center;

  &:hover {
    background-color: var(--bg-color-hover);
  }
}

.hamburger {
  bottom: 1rem;
  width: 40px;
  height: 40px;
  background-color: var(--bg-color);
  border-radius: 50%;
  padding: 0.4rem;
}

.hamburger__svg {
  width: 1.25rem;
  justify-self: center;
}

.hamburger-closed {
  display: block;
}

.search {
  bottom: 1rem;
  left: 3.8rem;
  width: 40px;
  height: 40px;
  background-color: var(--bg-color);
  border-radius: 50%;
  padding: 0.4rem;
}

.hamburger.open {
  display: block;
  margin-right: 12.5rem;
  border-radius: 50% 0 0 50%;
  transition: margin-right 0.3s ease;
}
